@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');


.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared related style */
span#special-text{
    font-family: 'Miama', sans-serif;
    font-size: 8.875rem;
    font-weight: 400;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg-color-pri{
    background-color:  rgb(0, 0, 0);
}
body > header{
    max-width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 1), rgba(119, 119, 119, 0) 100%);
}
header > .header-container{
    max-width: 75%;
    margin: 0 auto;
    /* max-width: 73.6%;
    margin: 0 auto;  */
    /* background-image: linear-gradient(180deg, rgba(17, 17, 17, 1), rgba(119, 119, 119, 0) 100%); */
}
main > section{
    /* max-width: 73.6%;
    margin: 0 auto; */
    max-width: 70.6%;
    margin: 0 auto;
}
.specific-title{
    font-size: 3rem;
    color: rgba(255, 255, 255, 1);
}
.specific-desc{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 14px;
    /* width: 312px; */
}
.btn-pri{
    font-size: 1.125rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    padding: 16px 46.5px;
    margin-top: 32px;
    background-color: rgba(230, 83, 60, 1);
    border-radius: 42px;
    border-style: none;
    gap: 14px;
    margin: 10px;
}
.btn-2ndary{
    font-size: 1.125rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    padding: 16px 48px;
    margin-top: 32px;
    border-radius: 42px;
    border: 2px solid white;
    background-color: black;
}
/* header related style */



/*header > navbar related style */
.navbar{
    padding-top: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.25rem;
    font-weight: 900;
    color: rgba(230, 83, 60, 1);
    font-style: italic;
}
.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 12px 4px;
}
.ham-bars{
    display: none;
}

.nav-items , .nav-link{
    list-style: none;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    gap: 47px;
}
#special-link{
padding: 8px 20px;
background-color: rgba(230, 83, 60, 1);
border-radius: 46px;
}
#special-link2{
padding: 8px 20px;
}



/* header > header-details-container related style */
.h-title{
    /* margin-top: 96px; */
    font-size: 4.875rem;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
    line-height: 82px;
}
.header-details-container{
    width: 56.5%;
    margin-top: 96px;

}
.banner-container{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.banner-image-container{
    position: relative;
}
.banner-image{
    width: 100%;
    margin: 0 auto;
}
.p1-container{
    width: 193px;
    height: 98px;
    padding: 16px ;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 125px;
    right: -74px;
}
.p1-title{
    font-size: 2.5rem;
    color: white;
}
.p1-desc{
    p.p2-desc {
        font-size: 0.76rem;
    }    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.65);
}
.p2-container{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 206px;
    height: 96px;
    padding: 16px ;
    border-radius: 12px;
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-color: rgba(48, 48, 48, 0.54);
    position: absolute;
    bottom: 63px;
    left: -90px;
}
.p2-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(230, 83, 60, 1);
}
.p2-player{
    display: none;
}

/* .p2-details-container{

} */
.p2-title{
    font-size: 1.5rem;
    color: white;
}
.p2-desc{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.65);
}


/* habit related style */
.habit-details-container{
    margin-top: 100px;
    text-align: center;
}
.habit-example-container{
    margin: 58px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 40px;
}
.example-image{
    width: 100%;
    margin: 0 auto;
    border-radius: 100%;
    /* border-w: 50px solid red; */
    border: solid rgba(255, 255, 255, 0.1) 4px;
}
.example-title{
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 30px;
    color: white;
    text-align: center;
}
.example-desc{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 6px;
    text-align: center;
}
/* run section related style */
.run-sec-container{
    margin-top: 100px;
    margin-bottom: 60.5px;
    background-color: rgba(34, 34, 34, 1);
    padding: 30px 54px;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 165px;
}
.run-container{
    width: 41.5%;
}
.run-container2{
    position: relative;
    overflow: hidden;
    width: 367px;
    height: 314px;
    border-radius: 16px;
}
.run-image{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 84%;
    left: 8%;
    transform: translate(-50%, -50%) scale(2.6);
}
p.run-desc.specific-desc {
    width: 390px;
}
button.run-sec-btn.btn-pri {
    margin-top: 34px;
}

/* bmi section related style */
.bmi-container{
    width: 36.3%;
    margin: 0  auto;
    margin-bottom: 60.5px;
}


/* special section number 1 related style */
#special-sec-1{
    max-width: 100%;
    margin: 0 auto;
    background-color:rgba(34, 34, 34, 1);
    padding: 50px;
}
.special-sec-container{
    max-width: 70.6%;
    margin: 0  auto;
    display: flex;
    justify-content: space-between;
    gap: 175px;
}
.chart-title{
    font-size: 1.75rem;
    color: white;
    margin-bottom: 52px;
}
th {
    font-size: 1rem;
    font-weight: 500;
    color: white;
}
td {
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.table-container,th,td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    text-align: start;
    /* border-radius: 18px; */
    padding: 15px 20px 14px 23px;
}
/* .your-bmi-container{
    max-width: 54.4%;
    margin: 0 auto;
} */
.your-title{
    font-size: 1.75rem;
    color: white;
}
.your-desc{
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 14px;
}
.input-container{
    margin-top: 34px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 12px;
    /* width: 50%; */
}
input{
    font-size: 1rem;
    font-weight: 400;
    background-color:rgba(255, 255, 255, 0.1);
    padding: 13px;
    border-radius: 8px;
    border-style: none;
    /* width: 50%; */
}
::placeholder{
    color:rgba(255, 255, 255, 0.6);
}
select,#option{
    font-size: 1rem;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.1);
    color:rgba(255, 255, 255, 0.6);
    padding: 13px ;
    border-style: none;
    border-radius: 8px;
}
.special-dropdown{
    grid-column-start: 1;
    grid-column-end: 3;
    color:rgba(255, 255, 255, 0.6);
    padding: 13px;
}
button.bmi-btn.btn-pri {
    margin-top: 34px;
}


/* special section 2 related style  */
.start-section{
    margin-top: 66.5px;
}

#special-sec-2{
    max-width: 75%;
    margin: 0 auto;
    margin-top: 66.5px;

}
.all-card-container{
    
    background-color:rgba(34, 34, 34, 1);
    border-radius: 18px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
/* .all-card-container:hover{
    background-color: cadetblue;
} */
.card-main-container{
    /* margin-top: 50px; */
    max-width: 100%;
    margin: 0 auto;
}
.card-main-title{
    font-size: 1rem;
    font-weight: 400;
    color: white;
    margin-bottom: 10px;
}

.card-container{
    width: 100%;
    height: 100%;
    background-color: darkslategray;
    /* background-color: darkolivegreen; */
    border-radius: 18px;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 1);
    padding: 20px;
}

.banner-container1{
    /* gap: 100px; */
    background-image: url(../images/card1-bg.jpg);
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}
.card-desc{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 14px;
}
.card-reserve-container{
    margin-top: 20px;
}
.reserve-rate{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 38px
}
.banner-container2{
    /* gap: 100px; */
    background-image: url(../images/card2.bg.jpg);
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}
.banner-container3{
    /* gap: 100px; */
    background-image: url(../images/card3-bg.jpg);
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}
.banner-container4{
    /* gap: 100px; */
    background-image: url(../images/card4.bg.jpg);
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
}
.banner-btn{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 9px;
    border-style: none;
    font-size: 1rem;
    font-weight: 800;
}
span#banner-title-sp-text{
    font-size: 1rem;
}
.reserver-main-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.reserve-btn{
    margin-top: 40px;
    padding: 16px 100px;
    background-color: rgba(230, 83, 60, 1);
    color: white;
    font-size: .875rem;
    font-weight: 600;
    border-radius: 42px;
    border-style: none;
}

/* meet our team related section style */
.team-section{
    margin-top: 60.5px;
}
.meet-details-container{
    text-align: center;
    margin-bottom: 58px;
}
.team-all-member-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    padding: 20px;
    gap: 20px;
}
.team-container{
    /* padding: 20px; */
    border-radius: 18px;
    position: relative;
}
.team-member{
    width: 100%;
    /* height: 100%; */
    height: 22rem;
    /* height: 100%; */
    margin: 0 auto;
    border-radius: 18px;
    
}
.team-position-container{
    position: absolute;
    bottom: 40px;
    left: 55px;
}
.team-member-title{
    font-size: 1.25rem;
    color: white;
    margin: bottom 3px;
}
.team-member-desc{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
/* footer part style */
#footer-part{
    max-width: 100%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 60.5px;
    padding: 66px 0 31px 0;
}
.footer-container{
    max-width: 73.6%;
    margin: 0 auto;
    /* padding: 66px 0 31px 0; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    /* justify-content: space-around; */
    gap: 102px;
}
.start-title{
    font-size: 2rem;
    color: white;
    font-weight: 800;
}
.start-desc{
    font-size: 1.44rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
}
.logo-title{
    font-size: 4.44rem;
    font-weight: 900;
    color: rgba(230, 83, 60, 1);
    font-style: italic;
}
.get-start-container{
    margin-left: 200px;
    gap: 50px;
}
.reserve-container > #special-horigental{
    height: 2px;  
    background-color: rgba(255, 255, 255, 0.1);  
    border: none;  
}
.reserve-container{
    justify-items: center;
    /* align-items: center; */
    text-align: center;
    max-width: 75%;
    margin: 0 auto;
    margin-top: 89px;
    margin-bottom: 31px;
}
.reserve-desc{
    font-size: 1.25rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 36px;
}
/* responsive related style */
@media screen and (max-width: 576px) {
    header > .header-container{
        max-width: 90%;
    }
    main > section{
        max-width: 90%;
    }
    .special-sec-container{
        width: 90%;
    }

    /* header related rwd */
    .navbar {
        padding-top: 54px;
    }
    .nav-items{
        display: none;
    }
    .ham-bars{
        display: block;
    }
    i.fa-solid.fa-bars {
        color: white;
        font-size: 1.5rem;
    }
    .banner-container {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .header-details-container {
        margin-top: 56px;
        width: 100%;
    }
    h1.h-title {
        font-size: 2.25rem;
        width: 285px;
        line-height: 45px;
    }
    span#special-text {
        font-size: 4.875rem;
    }
    p.h-desc.specific-desc {
        font-size: 1rem;
        margin-top: 28px;
        width: 70%;
        line-height: 25px;
    }
    button.btn-pri {
        padding: 16px 41.5px;
    }
    #special-btn-text{
        display: none;
    }
    button.btn-2ndary {
        padding: 16px 20.5px;
    }
    .banner-image-container {
        margin-top: 48px;
        margin-left: 20px;
    }
    .p1-container {
        width: 145.9px;
        height: 74px;
        padding: 12px;
        border-radius: 9.1px;
        top: 47.6px;
        right: 12.89px;
    }
    .p1-title{
        font-size: 1.89rem;
    }
    .p1-desc{
        font-size: 0.6rem;
    }
    .p2-container {
        width: 9.69rem;
        height: 4.54rem;
        gap: 9.7px;
        bottom: 244px;
        left: 4px;
    }
    .p2-circle {
        width: 30.24px;
        height: 30.24px;
    }
    h3.p2-title {
        font-size: 1.13rem;
    }
    p.p2-desc {
        font-size: 0.76rem;
    }
    .p2-circle{
        display: none;
    }
    .p2-player{
        display: block;
        width: 33.24px;
        height: 34.24px;
        font-size: 1rem;
        padding: 7.56px;
        border-radius: 50%;
        text-align: center;
        background-color: rgba(230, 83, 60, 1);
    }
    .p2-player, i{
        color: white;
    }

    /* habit related rwd */
    .habit-details-container {
        margin-top: 10px;
    }
    h3.habit-title.specific-title {
        font-size: 2rem;
        margin-bottom: 14px;
    }
    p.habit-desc.specific-desc {
        line-height: 20px;
        width: 90%;
        margin: 0 auto;
    }
    .habit-example-container {
        grid-template-columns: repeat(1, 1fr);
    }
    
    /* run related style */
    .run-sec-container {
        margin-top: 66px;
        padding: 31px 33px;
        flex-direction: column;
        gap: 31px;
    }
    img.run-image {
            top: 0%;
            left: 0;
            transform: none;
    }
    .run-container{
        width: 100%;
    }
    .run-container2{
        width: 100%;
    }
    h3.run-title.specific-title {
        font-size: 2rem;
    }
    p.run-desc.specific-desc {
        width: 100%;
    }
    button.run-sec-btn.btn-pri {
        /* text-align: center; */
        padding: 16px 105px;
        /* align-items: center; */
        margin-top: 24px;
    }
    .example-container{
        max-width: 100%;
        margin: 0 auto;
    }
    /* challenge special section responsive */
    .bmi-container {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 32px;
    }
    h3.bmi-title.specific-title {
        font-size: 2rem;
    }
    section#special-sec-1 {
        padding: 34px 0 43px 0;
        /* padding-top: 34px;
        padding-bottom: 43px; */
    }
    .special-sec-container {
        max-width: 90%;
        flex-direction: column;
        gap: 42px;
    }
    h3.chart-title {
        font-size: 1rem;
        margin-bottom: 23px;
    }
    .your-bmi-container {
        max-width: 100%;
    }
    .your-title {
        font-size: 1rem;
    }
    input#text {
        padding: 13px 20px;
        width: 100%;
    }
    button.bmi-btn.btn-pri {
        margin-top: 34px;
        /* padding: 16px; */
        padding: 16px 70.5px;
    }
    /* meet team related section responsive*/
    h3.meet-title.specific-title {
        font-size: 2rem;
    }
    .team-all-member-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .team-position-container {
        left: 31px;
    }
    .trainer1{
        display: none;
    }
    .trainer2{
        order: 1;
    }
    .trainer3{
        order: 3;
    }
    .trainer4{
        display: none;
    }
    .trainer5{
        order: 2;
    }
    .trainer6{
        order: 4;
    }
    .team-member-title{
        width: 150px;
        white-space: nowrap;
        /* border: 2px solid salmon; */
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    /* footer related responsive */
    footer#footer-part {
        padding: 44px 0 57px 0;
    }
    .footer-container{
        max-width: 90%;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
    .reserve-container{
        max-width: 90%;
        text-align: start;
        margin-top: 72px;
    }
    p.reserve-desc {
        font-size: 1rem;
        margin-top: 40px;
    }
    .get-start-container{
        margin-left: 0;
    }
    /* challenge part 2 related rwd */
    .start-section{
        margin-top: 40.5px;
    }
    h3.section-title.specific-title {
        font-size: 2rem;
    }
    p.section-desc.specific-desc {
        text-align: start;
    }
    #special-sec-2{
        max-width: 90%;
        margin-top: 40.5px;
    
    }
    .all-card-container{
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
    h3.banner-title.specific-title {
        font-size: 2rem;
    }
    button.banner-btn {
        margin-top: 10px;
        padding: 10px;
    }
    p.banner-desc.specific-desc {
        margin-top: 5px;
    }
    p.reserve-rate {
        font-weight: 400;
        font-size: 1rem;
        margin-top: 42px;
    }
    button.reserve-btn {
        margin-top: 20px;
    }
    
    }